.popup__close-button {
    position: relative;
    left: 430px;
    bottom: 330px;
    background-image: url(/images/Close_Icon.svg);
    background-position: center;
    width: 40px;
    height: 40px;
    background-color: rgba(0, 0, 0, .0);
    border: none;
    outline: none;
    cursor: pointer;
    transition: opacity .3s ease;
    padding: 0;
}

@media screen and (max-width: 580px) {
    .popup__close-button {
        left: 256px;
        width: 26px;
        height: 26px;
        bottom: 332px;
    }
}

.popup__close-button:hover {
    opacity: .6;
}